{:duct.profile/base
 {:duct.core/project-ns todo-api
  
  :duct.module/sql 
  {:database-url "jdbc:postgresql://localhost:5432/todo"
   :database-user "developer"
   :database-password "password"
   :database-pool {:adapter :hikaricp
                   :properties {:maximumPoolSize 10
                                :minimumIdle 5
                                :driverClassName "org.postgresql.Driver"}}}

  :todo-api.handler.system/ping {}
  :todo-api.handler.todo/post {}
  :duct.router/ataraxy
  {:routes {"/v1" {"/systems" {[:get "/ping"] [:system/ping]}
                   [:post "/todos"] [:todo/post]}}
   :handlers {:system/ping #ig/ref :todo-api.handler.system/ping
              :todo/post #ig/ref :todo-api.handler.todo/post}}}

 :todo-api.driver.database.todo/get-todo
 {:todo-repository #ig/ref :todo-api.driver.database.todo/todo-repository}

 :todo-api.driver.database.todo/todo-repository
 {:db #ig/ref :duct.database.sql/hikaricp}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}}
