{:duct.profile/base
 {:duct.core/project-ns todo-api
  
  :todo-api.handler.system/ping {}
  :todo-api.handler.todo/post {}

  :duct.router/ataraxy
  {:routes {"/v1" {"/systems" {[:get "/ping"] [:system/ping]}
                   [:post "/todos"] [:todo/post]}}
   :handlers {:system/ping #ig/ref :todo-api.handler.system/ping
              :todo/post #ig/ref :todo-api.handler.todo/post}}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}}
